# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
_trash/debugs.txt
_trash/indexing0.txt
_trash/new methods w:using api .txt
_trash/output.csv
_trash/output10.numbers
_trash/output11.csv
_trash/Копия output 1.csv
_trash/Копия output 2.csv
output/hrefs.txt
output/output0.csv
output/output1.csv
output/output2.csv
output/output3.csv
output/output33.csv
output/output4.csv
output/output5.csv
_trash/hrefs 1.txt
_trash/indexing 0.txt
_trash/indexing 1.txt
